<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Personal Information</title>
	<link href="/css/home.css" rel="stylesheet">
	<link href="/css/userInformation.css" rel="stylesheet">
</head>
<head th:replace="header :: header"/>
<head th:replace="header :: navbar"/>
<body>
<div class="information-wrapper">
	<div class="basic-container">
	<h4>Basic Information</h4>
		<div class="basicInfo-wrapper">
			<div class="form-container">
				<label for="name">Name: </label>
				<span class="input-field"><span id="name" th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></span>
			</div>
			<div class="form-container">
				<label for="email">Email: </label>
				<span class="input-field" id="email" th:text="${user.email}"></span>
			</div>
			<div class="form-container">
				<label for="ssn">Social Security Number: </label>
				<span class="input-field" id="ssn" th:text="${user.socialSecurityNumber}"></span>
			</div>
			<br/>
			<hr/>
			<br/>
			<h4>Additional Information</h4>
			<div class="form-container">
				<label for="address">Address</label>
				<span class="input-field" id="address" th:text="${user.userProfile.address}"></span>	
			</div>
			<div class="form-container">
				<label for="city">City</label>
				<span class="input-field" id="city" th:text="${user.userProfile.city}"></span>
			</div>
			<div class="form-container">
				<label for="state">State</label>
				<span class="input-field" id="state" th:text="${user.userProfile.state}"></span>
			</div>
			<div class="form-container">
				<label for="zipCode">Zip Code</label>
				<span class="input-field" id="zipCode" th:text="${user.userProfile.zipCode}"></span>
			</div>
			<div class="form-container">
				<label for="gender">Gender</label>
				<span class="input-field" id="gender" th:text="${user.userProfile.gender}"></span>
			</div>
			<div class="form-container">
				<label for="dob">Date of Birth</label>
				<span class="input-field" id="dob" th:text="${user.userProfile.dob}"></span>
			</div>
		</div>
	</div>
	<br/>
	
	<div class="additional-container">
		<h4>Edit/Save Additional Information</h4>
		<form th:action="@{/user/userInformation/save}" method="post">
			<input type="hidden" name="id" th:value="${userProfile.id}" />
			<div>
				<div class="form-container">
					<label for="address">Address</label>
					<input class="input-field" type="text" id="address" name="address" th:value="${userProfile.address}" />	
				</div>
				<div class="form-container">
					<label for="city">City</label>
					<input class="input-field" type="text" id="city" name="city" th:value="${userProfile.city}" />
				</div>
				<div class="form-container">
					<label for="state">State</label>
					<input class="input-field" type="text" id="state" name="state" th:value="${userProfile.state}" />
				</div>
				<div class="form-container">
					<label for="zipCode">Zip Code</label>
					<input class="input-field" type="text" id="zipCode" name="zipCode" th:value="${userProfile.zipCode}" />
				</div>
				<div class="form-container">
					<label for="gender">Gender</label>
					<input class="input-field" type="text" id="gender" name="gender" th:value="${userProfile.gender}" />
				</div>
				<div class="form-container">
					<label for="dob">Date of Birth</label>
					<input class="input-field" type="text" id="dob" name="dob" th:value="${userProfile.dob}" />
				</div>
				<div class="form-container">
					<label for="newPassword">Password</label>
					<input class="input-field" type="password" id="newPassword" name="newPassword" />
				</div>
				<div class="form-container">
					<label for="confirmPassword">Confirm Password</label>
					<input class="input-field" type="password" id="confirmPassword"/>
				</div>
			</div>
			<button class="save-btn" type="submit">Save</button>
			<a class="edit-btn" th:href="@{/user/userInformation/edit?address=}+${user.userProfile.address}">Edit</a>
		</form>
	</div>
</div>
</body>
</html>
